.App {
  width: 100vw;
  height: 100vh;
  background: #fff;
  color: #212121;
  font-family: 'Open Sans', sans-serif;
  display: grid;
  place-items: center;
  box-sizing: border-box;
  margin: 0;
  padding:0;
  font-family: 'Nunito', sans-serif;
}
body {
  margin: 0%;
  padding: 0%;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

.chatContainer {
  justify-content: center;
  align-items: center;
  display: flex;
}

.joinChatContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.joinChatContainer h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.joinChatContainer input {
  width: 210px;
  height: 40px;
  margin: 7px;
  border: 2px solid #3f51b5;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.joinChatContainer button {
  width: 210px;
  height: 50px;
  margin: 7px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  background: #3f51b5;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.joinChatContainer button:hover {
  background: #43a047;
}

.chat-window {
  width: 300px;
  height: 270px;
}

.chat-window p {
  margin: 0;
}
.chat-window .chat-header {
  height: 35px;
  border-radius: 6px;
  background: #3f51b5;
  position: relative;
  cursor: pointer;
}
.chat-window .chat-header p {
  display: block;
  padding: 0 1em 0 2em;
  color: #fff;
  font-weight: 700;
  line-height: 45px;
}

.chat-window .chat-body {
  height: calc(315px - (45px + 70px));
  border: 1px solid #263238;
  background: #fff;

  position: relative;
}
.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}
.chat-window .chat-body .message {
  height: auto;
  padding: 10px;
  display: flex;
}

.chat-window .chat-body .message .message-content {
  width: auto;
  height: auto;
  min-height: 30px;
  max-width: 120px;
  background-color: #43a047;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
}

#you {
  justify-content: flex-start;
}

#you .message-content {
  justify-content: flex-start;
}

#you .message-meta {
  justify-content: flex-start;
  margin-left: 5px;
}

#other {
  justify-content: flex-end;
}

#other .message-content {
  justify-content: flex-end;
  background-color: cornflowerblue;
}

#other .message-meta {
  justify-content: flex-end;
  margin-right: 5px;
  margin-left: 5px;
}

.message-meta #author {
  margin-left: 10px;
  font-weight: bold;
}

.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 12px;
}

.chat-window .chat-footer {
  height: 40px;
  border: 1px solid #263238;
  border-top: none;
  display: flex;
}

.chat-window .chat-footer input {
  height: 100%;
  flex: 85%;
  border: 0;
  padding: 0 0.7em;
  font-size: 1em;
  border-right: 1px dotted #607d8b;

  outline: none;
  font-family: 'Open Sans', sans-serif;
}

.chat-window .chat-footer button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 15%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 25px;
  color: lightgray;
}

.chat-window .chat-footer button:hover {
  color: #43a047;
}
.hide {
  opacity: 0 !important;
}


#headline {
  text-decoration: none;
}

#timerDiv {
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 2px 2px rgb(144, 144, 144);
}

#timerButton {
  margin-left: 27px;
  background-color: green;
  color: white;
}

#timer {
  margin-left: 62px;
}

#timerForm {
  margin-left: 53px;
}

#timeRemaining {
  margin-left: 25px;
}

#timerCountdown {
  margin-left: 72px;
  margin-top: -15px;
}

#alarmStop {
  background-color: red;
  color: white;
  margin-bottom: 5px;
  margin-left: 27px;
  
}
#TTSButtons:hover {
  margin: 30px 20px 30px 20px;
  transform: scale(2.0);
  color: #22f00b;
}

#TTSButtons {
  margin: 30px 20px 30px 20px;
  
  transform: scale(2.0);
  color: #2f42d3;
}

#TTSDiv {
  margin-left: 175px;
}

#VRecButton {
  margin-left: 24px;
  margin-bottom: 10px;
  background-color: red;
  color: white;
}






.navbar {
  position: sticky;
  top: 0px;
  height: 70px;
  background-color: white;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px 0px 30px;
  margin-bottom: -70px;
}

.navbar-logo {
   color: black;
   font-family: 'Nunito', sans-serif;
   font-size: 2.5rem;
}

.navbar-list {
  display: flex;
  list-style: none;
}

.navbar-link {
  font-size: 0.85rem;
  text-decoration: none;
  color: grey;
  text-align: center;
  padding: 10px;
  margin: 0px 5px;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: transparent;
  transition: 250ms;
  font-family: 'Nunito', sans-serif;
}

.navbar-link:hover {
  border-color:  rgb(34, 211, 152);
  transition: 250ms;
}

.landing {
  position: relative;
  width: 100%;
  height: 100vh;
}

.landing-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.landing-title{
  position: absolute;
  bottom: 15%;
  right: 10%;
  color: white;
  font-size: 4rem;
  padding: 15px;
  font-family: 'Nunito', sans-serif;
}

.slider {
  display: flex;
  align-items: center;
  margin: 20px;
  opacity: 0;
  transform: scale(85%);
  transition: 1s;
}

.slider--zoom {
  opacity: 1;
  transform: scale(100%);
  transition: 1s;
}
.slider-image {
  width: 60%;
  border-radius: 8px;
}

.slider-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

.slider-title {
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

#story {
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 2px 2px rgb(144, 144, 144);
}

#rssImg {
float: left;

}
#rssImg img {
  display: block;
  object-fit: cover;
  margin-left: 5px;
  margin-top: 5px;
  width: 80px;
  height: 60px;
}

#rssStoryDiv {
  margin-left: 90px;
}
#rssTitle {
  margin-top: 2px;
  margin-bottom: 5px;
}
#rssCreator {
  margin-bottom: 4px;
  margin-top: 2px;
}
#rssTime {
  margin-bottom: 4px;
  margin-top: 10px;
}
